* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --black: black;
  --white: whitesmoke;
  --primary-dark: rgba(42, 42, 44);
  --primary-light: rgba(92, 92, 95);
  --secondary-orange: rgba(255, 159, 10);
}
body {
  background-color: var(--black);
  color: var(--white);
}

/* *calculator */
.calculator__body {
}
.calculator__display {
}
.calculator__buttons {
}
.button {
  display: flex;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-dark);
}
